body{
	margin:0;
}

h1{
	font-family: 'Montserrat', Helvetica, sans-serif;
	font-size: 6rem;
	color: darkorchid;
	/* text-shadow: 1.1px 1.1px rgba(105,105,105, 0.5); */
	text-align: center;
	text-transform: uppercase;
	font-weight: lighter;
}

h2{
	font-family: 'Open Sans', Arial;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 4rem;
	font-weight: bold;
}

h3{
	font-family: 'Montserrat', Helvetica, sans-serif;
	text-transform: uppercase;
	font-weight: lighter;
	text-align: center;
	color: darkorchid;
	font-size: 2.5rem;
	letter-spacing: 0.7px;
}

h4{
	color: #fff;
	font-family: "Montserrat", Helvetica, sans-serif;
	font-size: 2.5rem;
	font-weight: lighter;
}

p{
	font-family: 'Open Sans', Arial;
	font-size: 2.5rem;
	line-height: 140%;
	color: #696969;
	margin: 5vh 3%;
}

a{
	color: #fff;
	text-decoration:none;
}

.banner{
	background: url(img/geo_bg_purple.jpeg) no-repeat center;
	background-size: cover;
	padding: 15vh 3em 4vh 3em;
	min-height: 30vh;
	position:bottom;
}

.userpic {
  display: block;
  width: 170px;
  height: 170px;
  margin: 20px auto;
  /* border: 4px solid white; */
  border-radius: 100px;
  background-image: url(img/Steph_Spencer.jpg);
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  /*box-shadow: 1px 1px #8369b2;*/
}

.thick-line{
	background-color: #fff;
	height: 10px;
	width: 50%;
	margin: 0vh 25%;
}

.thick-flourish{
	background-color: darkorchid;
	height: 10px;
	width: 16%;
	margin: 0vh 42%;
}

.thick-flourish-white{
	background-color: #fff;
	height: 10px;
	width: 16%;
	margin: 0vh 42%;
}

#about,#skills,#portfolio,#contact{
	padding: 3vh 2vh;
}

#skills{
	background: #F7F6F8;
}

.logo-roll{
	color: #000;
	font-size: 6rem;
	text-align: center;
}

.portfolio-item{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 100%;
    height: 60vh;
    margin: 2vh 0;
    border-radius: 5px;
}

.portfolio-item:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.portfolio-item-title {
	background: rgba(153,50,204,0.6);
	width: 60%;
	padding: 0.5em;
	line-height: 160%;
}

.sage-cover{
	background: url(img/sage.png) no-repeat;
	background-size: cover;
}

.aloha-cover{
	background: url(img/aloha_thumbnail.png) no-repeat;
	background-size: cover;
}


.container {
    padding: 2px 16px;
}

.icon{
	margin-top: 5vh;
	letter-spacing: 12px;
}

#contact{
	background: #696969;
	color: #fff;
	font-size: 5rem;
	text-align: center;
}

/*********************************************

MEDIA QUERIES

**********************************************/

@media only screen and (min-width: 700px) {

	h1{
		font-size: 3rem;
	}

	h2 {
		font-size: 2rem;
	}

	h3{
		font-size: 1.5rem;
	}

	p{
	 	font-size: 1rem;
	 	margin: 2vh 20%;
	}

	.thick-flourish,.thick-flourish-white{
		width: 4%;
		margin: 2vh 48%;
		height: 4px;

	}

	.thick-line{
		height:4px;
		width:30%;
		margin: 0vh 35%;
	}

	.logo-roll{
		margin: 0 10%;
	}

	#contact{
		font-size: 3.2rem;
	}

	.portfolio-item{
		width: 47%;
	}

	.flex{
		display: flex;
		justify-content: space-between;
	}


}
